.outer_container12 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 200px;
  }
  
  .left_container12 {
    width: 60%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
  }
  
  .img_container12 {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    align-items: center;
  }
  
  .img_container12 > img {
    height: 100px;
    width: 300px;
    margin-bottom: 10px; /* Add spacing below the logo */
  }
  
  .privacy-policy-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .privacy-policy-btn {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
  }
  
  .social_connection12 {
    display: flex;
    gap: 50px;
    margin: 10px;
  }
  
  .social_connection12 > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  
  .social_connection12 > ul > li {
    padding-bottom: 0px;
    text-align: center;
  }
  
  .right_container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    color: aliceblue;
  }
  
  .btn_social {
    color: aliceblue;
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .outer_container12 {
      flex-direction: column;
    }
  
    .img_container12 > img {
      height: 50px;
      width: 100px;
    }
  
    .privacy-policy-container {
      margin-top: 10px; /* Adjust spacing for smaller screens */
    }
  }
  